body {
  background-color: #7EC9FF;
  font-family: 'Roboto Slab', serif;
}
/*cross-site styles*/

.button {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  background-color: white;
  border-style: solid;
  border-color: #2D3771;
  border-width: 5px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button:active {
  background-color: #e3e3e4;
  border-color: #162670;
}
#border1 {
  border-color: #2D3771;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  background-color: #FEFEFE;
  margin: 20px;
}
#topBar {
  display: flex;
  background-color: white;
}
.topBarElements {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  padding: 5px;
  flex-grow: 1;
  text-align: center;
}
.topBarElements:active {
  background-color: #e3e3e4;
}
.noMargin {
  margin: 0px;
}
.marginTen {
  margin: 10px;
}
.title {
  margin: 20px;
}
.outline {
  color: white;
   text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}
.outline:active {
  background-color: #e3e3e4;
}
.center {
  text-align: center;
}
.list {
  font-family: 'Roboto Slab', serif;
}
.listAttributes {
  font-size: 15px;
}
/*site-specific styles*/

/*home page*/
.startPanel {
  background-color: #00008b;
  color: white;
  margin: 0px;
  text-align: center;
  padding: 200px;
  font-size: 50px;
  outline-style: solid;
  outline-color: white;
  outline-width: 10px;
}
.myWebsite {
  display: inline-block;
  margin: 0px;
}
.typing {
  display: inline-block;
  margin: 0px;
  animation: typing 1.25s steps(1) infinite;
}

/*coin Flip*/

.coinTitle {
  text-align: center;
}
#result {
  text-align: center;
}
#flipAmount {
  text-align: center;
}
#coinImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}
#perc {
  text-align: center;
}
/*clicker styles*/

.clickerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
  width: 300px;
}
#clicks {
  text-align: center;
  font-size: 20px;
}
#upgradePrice {
  text-align: center;
}
/*animaions*/

@keyframes typing{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/*repetitive styles*/

.white {
  color: white;
}
.red {
  color: #FF6666;
}
.orange {
  color: #FFBD55;
}
.yellow {
  color: #FFFF66;
}
.green {
  color: #9DE24F;
}
.blue {
  color: #87CEFA
}
