body {
  background-color: #7EC9FF;
  font-family: 'Roboto Slab', serif;
}
#border1 {
  border-color: #2D3771;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  background-color: #FEFEFE;
}
.coinButton {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  background-color: white;
  border-style: solid;
  border-color: #2D3771;
  border-width: 5px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.coinTitle {
  text-align: center;
}
#result {
  text-align: center;
}
#coinImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}
.outline {
  color: white;
   text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

.red {
  color: #FF6666;
}
.orange {
  color: #FFBD55;
}
.yellow {
  color: #FFFF66;
}
.green {
  color: #9DE24F;
}
.blue {
  color: #87CEFA
}
