body {
  background-color: #7EC9FF;
  font-family: 'Roboto Slab', serif;
}
.projects {
  border-color: #2D3771;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(54,193,255, 0.75);

}
